.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-start;
  padding:0px 200px;
  font-size: 14px;
  color: white;
}

.App-header div{
  color:red;
  font-size: 12px;
  margin-left:30%;
  border:solid 1px red;
  padding:10px;
}
content{
  display:flex;
  flex-direction:row;
  height:90vh;
  background-color: #282c34;
}

.frame{
  width:80vw;
  border:solid 1px rgba(29, 233, 182, 0.5); 
}
content .list{
width:17vw;
color:#1DE9B6;
padding:30px;
border:solid 1px rgba(29, 233, 182, 0.5);

}

li{
 
  margin:10px 0px;
  padding:5px;
  cursor:pointer;
}

#input{
  border-bottom:solid 1px #1DE9B6;
  outline:none;
  opacity:0.8;
}

#input:focus{
  border-bottom:solid 2px #1DE9B6;
  opacity:1;
  color:#ffffff;
}
input[type=text]{
  border:none;
  display:block;
  color:#ffffff;
  padding:10px;
  font-size:18px;
  font-family:'Lucida Casual', 'Comic Sans MS';
  background:inherit;
}

button{
 padding:8px 40px;
 margin: 0px 10px;
 background:inherit;
 color:#ffffff;
 outline:none;
 border:solid #1DE9B6 1px;
 border-radius:2em;
 cursor:pointer;
 font-weight:600;  
}

button:hover{
  background-color:#1DE9B6;
  color:black; 
}

button:active{
  transform: translateY(2px);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


